extends ../layouts/common.pug

block content
  h3 #{title}
  a.d-inline-block.mb-2(href="/books") Back

  table.table
    thead
      tr
        th ID
        th Cover Book
        th Title
        th Description
        th Shop
        th
    tbody
      each book in books
        tr
            th= book.id
            td
              img(src= book.coverUrl, width= "50px", height= "50px")
            td= book.title
            td= book.desc 
            td= book.shop && book.shop.name || 'Admin' 
            td
              a.text-success(href=`/cart/add/${book.id}?page=${page}`) Add to cart
              br
              if (user && book.shop && user.id === book.shop.idShop || user.idAdmin === 'admin')
                a.text-danger(href=`/books/${book.id}/delete`) Delete
                span &nbsp;
                a(href=`/books/${book.id}/update`) Update
