extends ../../layouts/common.pug
block content
  div(class="container")
    h3 List transaction
    a(class="d-inline-block mb-2", href="/transactions") Back
    table(class="table")
      thead
        tr
          th ID 
          th Username
          th Book
          th Complete
          th
      each trans in transactions
        tr
          th= trans.id
          
          each user in users
            if(user.id === trans.idUser) 
              td= user.name
          break
            
          each book in books
            if(book.id === trans.idBook) 
              td= book.title
          break
    
          td= (trans.isComplete) ? 'True' : 'False' 
          
          td
            span &nbsp;
            a(href=`/transactions/${trans.id}/delete`) Delete
            span &nbsp;
            a(href=`/transactions/${trans.id}/update`) Update